﻿@model Event_planning.Models.Event

@{
    ViewData["Title"] = "EventEdit";
}

<h2>Edit event</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EventEdit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxUsersCount" class="control-label"></label>
                <input asp-for="MaxUsersCount" type="number" value="@Model.CurUsersCount" min="@Model.CurUsersCount" class="form-control" />
                <span asp-validation-for="MaxUsersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Index">start page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
