﻿@model Event_planning.Models.ViewModels.EventContext

@{
    ViewData["Title"] = "EventCreate";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
</script>

<h2>Create new event</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EventCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Event.Id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Event.Title" class="control-label"></label>
                <input asp-for="Event.Title" name="name" class="form-control" placeholder="Events title"/>
                <span asp-validation-for="Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.DateTime" class="control-label"></label>
                <input asp-for="Event.DateTime"name="date" class="form-control" placeholder="@DateTime.Now.ToString()"/>
                <span asp-validation-for="Event.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.MaxUsersCount" class="control-label"></label>
                <input asp-for="Event.MaxUsersCount" name="count" class="form-control" min="1"/>
                <span asp-validation-for="Event.MaxUsersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Event.CurUsersCount" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <descriptions>

                </descriptions>
            </div>    
            <div class="form-group">
                <input type="submit" value="Create" class="btn-info" />
            </div>
        </form>
        <p></p>
        <input id="AddAction" type="submit" value="Add describe" class="btn-info">
    </div>
</div>

<script type="text/javascript">
    var index = 0;
    $(function () {
        $('#AddAction').on('click', function (e) {
            index += 1;
            $(' <label for="NameDescription' + index + '" class="control-label" id="labelNameDescription' + index + '">Title: </label>').appendTo('descriptions');
            $(' <input type="text" id="NameDescription' + index + '" class="form-control" name="NameDescription">').appendTo('descriptions');
            $(' <label for="Description' + index + '" class="control-label" id="labelDescription' + index + '">Describe: </label>').appendTo('descriptions');
            $(' <input type="text" id="Description' + index + '" class="form-control" name="Description">').appendTo('descriptions');
            $(' <input type="button" id="' + index + '" class="btn-info" value="Remove" onclick="DeleteDescription(' + index + ')"><br id="br' + index + '"/>').appendTo('descriptions');
            $(' <hr></hr>').appendTo('descriptions');
        });
    });
    function DeleteDescription(id) {
        console.log(id);
        $('#labelNameDescription' + id).remove();
        $('#NameDescription' + id).remove();
        $('#labelDescription' + id).remove();
        $('#Description' + id).remove();
        $('#' + id).remove();
        $('#br' + id).remove();
    }
</script>


<div>
    <a  asp-controller="Admin" asp-action = "Index">Start page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
