﻿@model Event_planning.Models.ViewModels.EventContext

@{
    ViewData["Title"] = "EventDetails";
}

<h2>Event details</h2>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.MaxUsersCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.MaxUsersCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.CurUsersCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.CurUsersCount)
        </dd>

        @foreach (var info in Model.EventInfos)
        {
            <dt>
                @Html.DisplayFor(model => info.HeadInfo)
            </dt>
            <dd>
                @Html.DisplayFor(model => info.TextInfo)
            </dd>
        }
    </dl>
</div>