﻿@model IEnumerable<Event_planning.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<h2>All events</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ev.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ev.DateTime)
                </td>
            </tr>
        }
    </tbody>
</table>
