﻿@model IEnumerable<Event_planning.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<h2>All events</h2>

@foreach (var ev in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => ev.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ev.DateTime)
        </td>
    </tr>
}
