﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="jumbotron">
    <address>
        <abbr title="EMail">:</abbr>
        andrejnarivoncik@gmail.com
        <hr />
        <abbr title="Phone"></abbr>
        +375291154494
    </address>
</div>