﻿@model IEnumerable<Event_planning.Models.Event>

@{
    ViewData["Title"] = "Events managment";
}

<h2>Events managment</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ev.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ev.DateTime)
                </td>
                <td>
                    <a asp-controller="Events" asp-action="EventEdit" asp-route-id="@ev.Id">Edit</a> |
                    <a asp-controller="Events" asp-action="EventDetails" asp-route-id="@ev.Id">Details</a> |               
                    <a asp-controller="Events" asp-action="EventDelete" asp-route-id="@ev.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-controller="Admin" asp-action="Index">start page</a>
</p>
