﻿@model IEnumerable<Event_planning.Models.ApplicationUser>

@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<h3>@ViewBag.name  @ViewBag.Age</h3>
<h3>@ViewBag.email</h3>

<div class="row">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="col-md-3">
        <form asp-controller="Admin" asp-action="EventCreate" method="get">
            <div class="form-group">
                <label class="control-label">Add new event</label>
                <input type="submit" name="add_event" value="add event" class="form-control btn-info" />
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form asp-controller="Admin" asp-action="EventsManagment" method="get">
            <div class="form-group">
                <label class="control-label">View all events</label>
                <input type="submit" name="view_events" value="view events" class="form-control btn-info" />
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form asp-controller="Admin" asp-action="UsersManagment" method="get">
            <div class="form-group">
                <label class="control-label">View all users</label>
                <input type="submit" name="view_users" value="view users" class="form-control btn-info" />
            </div>
        </form>
    </div>
    <p>
        <a asp-controller="Admin" asp-action="Index">start page</a>
    </p>
</div>
