﻿@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<h2>All users</h2>
<strong>
    Select users, that you want to remove
</strong>

<div class="container">
    <form asp-controller="Admin" asp-action="UsersManagment" method="post">
        @foreach (var user in Model)
        {
            <div class="row">
                <div class="col-md-1">
                    <input name="users_id" type="checkbox" value="@user.Id">
                </div>
                <div class="col-md-1">
                    <label>@user.UserName</label>
                </div>    
            </div>
        }
        <div class="col-md-2">
            <input type="submit" name="remove" value="remove" class="btn-info"/>
        </div>
    </form>
    <p>
        <a asp-controller = "Admin" asp-action="Index">start page</a>
    </p>
</div>