﻿@model IEnumerable<Event_planning.Models.ApplicationUser>
@{
    ViewData["Title"] = "User";
}

<h3>@ViewBag.name  @ViewBag.Age</h3>
<h3>@ViewBag.email</h3>

<div class="row">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="col-md-2">
        <form asp-controller="User" asp-action="SubscribedEvents" method="get">
            <div class="form-group">
                <label class="control-label">My Events</label>
                <input type="submit" name="my events" value="my events" class="form-control btn-info" />
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <form asp-controller="User" asp-action="AllEvents" method="get">
            <div class="form-group">
                <label class="control-label">View all events</label>
                <input type="submit" name="view_events" value="view events" class="form-control btn-info" />
            </div>
        </form>
    </div>
</div>
